/************ Fonts ************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');

/************ Resets ************/
*, html, body, li {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

div {
    margin: 0;
    padding: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}


nav, h2, ul, button {
    background-color: #133057;
}

li{
    list-style-type: none;
}


img, h2, li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #e5e3ec;
    background-color: #133057;
    text-decoration: none;
}


h2 {
    font-size: 30px;
    font-family: 'Crimson Text', serif;
}

.wrapper {
    width: 100%;
    background-color: #DCD9EA;

}

.larger-text{
    font-size: 30px;
    font-stretch: extra-expanded;
}

a:hover {
    color:#FFF;
}

.navigation:hover {
    color:  #FFF!important;
}

.contact {
    padding: 9px 25px;
    background-color: rgb(79, 183, 209);
    color: #3e3a53;
    font-weight: bolder;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

.contact:hover {
    background-color: rgba(23, 137, 165, 0.7);
    color: #DCD9EA;

}

.inline li {
    display: inline-flex;
    /*background-color: #3e3a53;*/
}

.center-text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#FFF;
    width: 300px;
    color: #1f1c2e;
    margin: 20px;
    padding: 20px;
    filter: drop-shadow(3px 5px 7px #a2a6aa);
}

.navbar-brand{
    margin-left: 2rem;
}

.background-color1 {
    background-color: #DCD9EA;
}

.background-color2 {
    background-color: #133057;
}

.text-white {
    color: #e5e3ec;
}
.text-muted {
    color: #a2a6aa !important;
}

.font-size-15 {
    font-size: 15px;
}

.vl {
    border-right: 1px solid #a2a6aa;
}

address {
    margin-bottom: 0;


}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler {
    color: #133057;
    border: none;
}

.bi {
    fill: #FFF;
}

.row {
    margin: 0;
}

.py-5 {
    padding-left: 10rem;
    padding-right: 10rem;
}
/***************************** Home Page *******************************/

.slides li div {
	max-width: 100%;
	position: relative;
	padding-bottom: 50%;
    background-size: cover;
}

.cta {
    background-color: #1f1c2e;
    position:absolute;
    left: 20px;
    bottom: 10%;
    padding: 10px;
}

button{
    background-color: rgba(184, 181, 195, 0.5);
}

.section-1{
    margin: 5px 0px 5px 0px;
    padding: 20px;
    text-align: center;
    
}

.carousel-indicators{
    background-color: rgba(184, 181, 195, 0.0);
    
}

.carousel-indicators .indicator {

        width: 10px;
        height: 10px;
        border-radius: 100%;
    
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgb(220, 217, 234, 0);
}

hr {
    background-color: #1f4575;
    opacity: 1;
    margin: 0;
}

hr:not([size]){
    height: 5px;
}

h3 {
    font-family: 'crimson';
    font-weight: bolder;
    background-color: #133057;
    color: #e5e3ec;
    text-align: center;
    padding: 30px 0 30px 0;
    
}

.section-1 li {
    font-size: 16px;
}

.cropped-img {
    height: 258px;
    width: 258px;
    overflow: hidden;
    margin-bottom: 10px;
}

.par-text {
    background-color: #ffffff;
    padding-top: 15px;
    font-size: 12px;
    text-align: justify;
}

.btn-primary {
    background-color: #4FB7D1;
    border: none;
    text-align: right;
    border-radius: 40px;
    width: fit-content;
    padding: 5px;
    margin: 0 auto;
}


.btn-primary:hover {
    background-color: rgba(23, 137, 165, 0.7);
    color: #DCD9EA; 
}


.btn-primary:hover {
    background-color: rgba(23, 137, 165, 0.7);
    color: #DCD9EA; 
}

.btn-height {
    height: fit-content;
}

.form-control {
    font-size: 15px;
    padding: 5px !important;

}

/***************************** About Page *******************************/
.about-section {
    padding: 30px;
}

.about-section h1 {
    display: inline-block;
    border-bottom: 8px solid #4FB7D1;
}

.about-section ul, .about-section li {
    padding: 10px 30px;
    margin: 10px;
    border-radius: 20px;
}

.about-section p {
    padding: 5px 20px;
    text-decoration: none;

}

.side-nav {
    margin-top: 100px;
}

/***************************** Contact Page *******************************/

.section-3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.section-3:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background: url("../IMG/pexels-francesco-ungaro-4620507.jpg") no-repeat center;
    background-size:cover;
    z-index: -1;
    filter: blur(5px);
}


.background-color3 {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}


.contact-h3 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}



/****** form *****/

input[type="text"]{
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    
}

input[type="email"], textarea, select{
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
    
}


option{
    background-color: #FFF;
}

.contact-form {
    width: 40%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    
}



.submit{
    width: fit-content;
    padding: 10px 20px 10px 20px;
    background-color: rgb(79, 183, 209);
    color: #3e3a53;
    margin-left: 12px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    font-size: 18px;
}

.submit:hover {
    background-color: rgba(23, 137, 165, 0.7);
    color: #DCD9EA;

}

/* Tickets */
.section-2 {
    margin: 10px 0px;
    padding: 0px 200px 20px 200px;
    text-align: center;
}


.bullet-points li{
    list-style-type: disc;
    text-align: left;
    padding-bottom: 10px;
}

.tickets-img {
    height: 150px;
    width: 150px;
    padding-bottom: 10px;
    margin: 0 auto;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #3e3a53;
    color: #3e3a53;
}

.underline:hover{
    text-decoration-color: rgba(23, 137, 165, 0.7);
    
}



/* Typography */

.crimson{
    font-family: 'Crimson Pro', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.comp-name {
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

.font-size-22 {
    font-size: 22px;
}

/* Events */

article {
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin-bottom: 20px;
}

aside {
    margin: 12px;
    padding: 0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.background-color4{
    background-color: rgb(79, 183, 209);
}

.card-events {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:#FFF;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #1f1c2e;
    filter: drop-shadow(3px 5px 7px #a2a6aa);
}
.img-events {
    width: 100%;
    border-radius: 10px;
    background-color: #FFF;
}

/* Media Queries */
header li {
    display: inline-block;
    margin: 0 auto;
}

.comp-name{
    display: inline-block;
    font-size: 22px;
}

nav a {
    display:inline-block;
}

.py-5{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
}


.vl {
    border-right: none;
}

.contact {
    display: block;
    border-radius: 0;
}

@media (min-width: 576px) { 
    header li {
        display: inline-block;
        margin: 0 auto;
    }
    
    .comp-name{
        display: inline-block;
        font-size: 22px;
    }

    .py-5{
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: left;
    }

    .vl {
        border-right: 1px solid #a2a6aa;
    }


 }

@media (min-width: 768px) { 

    header li {
        display: inline-block;
        margin: 0 auto;
    }
    
    .comp-name{
        font-size: 25px;
        display: inline-block;
    }

    nav a {
        display:none;
    }

    .contact {
        display: block;
        border-radius: 0;
        background-color: #133057;
        color: #a2a6aa;
    }

    .contact:hover{
        background-color: #133057;
    }

    .py-5{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 992px) { 

    header li {
        display: inline-block;
        margin: 0 auto;
    }

    
    .comp-name{
        font-size: 25px;
        display: inline-block;
    }

    nav a {
        display:inline-block;
    }

    .contact {
        display: block;
        border-radius: 0;
        background-color: #133057;
        color: #a2a6aa;
    }

    .contact:hover{
        background-color: #133057;
    }


    .py-5{
        padding-left: 5rem;
        padding-right: 3rem;
    }


}

@media (min-width: 1200px) { 

    .contact {
        padding: 9px 25px;
        background-color: rgb(79, 183, 209);
        color: #3e3a53;
        font-weight: bolder;
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
    }


}


    .contact:hover {
        background-color: rgba(23, 137, 165, 0.7);
        color: #DCD9EA;
    
    }

    
@media (min-width: 1400px) { }

